<div
  color="primary"
  style="
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding-left: 60px;
    padding-right: 60px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px
  "
>
  <div>Logo</div>
  <div
    *ngIf="isUserLoggedIn"
    style="width: 300px; display: flex; justify-content: space-between"
  >
    <button routerLink="add-form" routerLinkActive="white-border">add</button>
    <button (click)="userLogout()">Logout</button>
  </div>
</div>
