.loginForm {
  max-width: 400px;
  min-width: 400px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  align-items: center;
  padding: 20px;
  box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
  /* backdrop-filter: blur(855px); */
  animation-name: fadein;
  animation-duration: 2s;
}
.loginInputs {
  min-height: 100px;
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
