<app-header></app-header>
<div style="height: 100%">
  <div
    style="
      width: 100%;
      height: calc(100% - 100px);
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
    "
  >
    <router-outlet> </router-outlet>
  </div>
</div>

<!-- <app-header></app-header>
<app-login></app-login>
<div>
  <ul>
    <li *ngFor="let product of allProducts">
      {{ product.title }}
    </li>
  </ul>
  <button (click)="addNewProduct()"> Add new </button>
  <button (click)="deleteProduct('619a6b1494787663ffb9e6b7')"> delete  </button>
</div> -->
