<div style="display: flex; flex-direction: column">
  <form
    *ngIf="productForm"
    [formGroup]="productForm"
    (ngSubmit)="onSubmitProduct()"
  >
    <input formControlName="title" placeholder="title" />
    <input formControlName="description" placeholder="description" />
    <input formControlName="price" placeholder="price" />
    <input formControlName="priorityDelivery" placeholder="priorityDelivery" />
    <input
      formControlName="checkIfProductIsNotAvailable"
      placeholder="checkIfProductIsNotAvailable"
    />
    <button type="submit">Add new Product</button>
  </form>
</div>

<mat-card>
  <form
    class="form-content"
    *ngIf="loginForm"
    [formGroup]="loginForm"
    (ngSubmit)="onSubmitX()"
  >
    <input matInput placeholder="Digite seu e-mail" formControlName="email" />

    <input
      type="password"
      matInput
      placeholder="Digite sua senha"
      formControlName="password"
    />

    <input type="submit" />
  </form>
</mat-card>
