.addForm{
  animation-name: fadein;
  animation-duration: 2s;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 90px;
}
