<div style="height: 500px" class="addForm">
  <h2 style="margin: auto; margin-bottom: 15px">Add a Product</h2>
  <form
    *ngIf="productForm"
    [formGroup]="productForm"
    (ngSubmit)="onSubmitProduct()"
    style="
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    "
  >
    <input formControlName="title" placeholder="Title" />
    <input formControlName="description" placeholder="Description" />
    <input formControlName="price" placeholder="Price" />
    <input formControlName="priorityDelivery" placeholder="Priority" />
    <input
      formControlName="checkIfProductIsNotAvailable"
      placeholder="Available"
    />
    <button
      type="submit"
      style="
        display: flex;
        justify-content: center;
        align-items: center;
      "
    >
      <span> Confirm </span>
    </button>
  </form>
</div>
